<div class="hero-content">
    <h1 class="title" id="h1-target">
    <span>Krise ist ein produktiver Zustand.</span> <br>Man muss ihr nur den Beigeschmack der Katastrophe nehmen.
    </h1>
    <h2 class="sub-title">Max Frisch</h2>
</div>