<h3>Supervision</h3>
<p>
Sie suchen als Team eine Auszeit, um gemeinsam mit den Kollegen/innen berufliches Handeln zu reflektieren und Ideen für die Zukunft zu entwickeln. Dazu gehört auch die Reflexion und Bearbeitung möglicher Konflikte im Team und Herausforderungen in der Organisation. Dabei verstehe ich Sie als Experten Ihres beruflichen Handelns! Ich begleite Sie in der Rolle der Unterstützerin mit Außenperspektive und der Moderatorin des Gesamtprozesses.
</p>

