<h4>Kontakt</h4>
<p>
Postadresse:<br>
<nobr>Universität Hamburg</nobr><br>
<nobr>Mittelweg 177</nobr><br>
<nobr>20148 Hamburg</nobr><br>
<nobr>Telefon: +49 40 42838-0</nobr><br>
<nobr>E-Mail: svenjahuebener@gmx.de</nobr>    
</p>