<div class="contact-stripe-cta">
    <h3>Schön, dass ihr hier seid!</h3>
    <h4>Jetzt Kontakt aufnehmen</h4>
</div>

<div class="contact-stripe-info">
    <h4>Telefonisch: <br class="down-sm"><a href="tel:004916095533890">0160/95533890</a></h4>
    <h4>E-Mail: <br class="down-sm"><a href="mailto:svenjaHuebener@gmx.de">SvenjaHuebener@gmx.de</a></h4>
</div>

