<div class='footer-content'>

    {{!-- <div class="contact-stripe-cta">
        <h4>Schön, dass ihr hier seid!</h4>
        <p>Jetzt Kontakt aufnehmen</p>
    </div> --}}

    <div class="contact-stripe-info">
        <p>Telefon: <br class="down-sm"><a href="tel:004916095533890">0160/95533890</p>
        <p>E-Mail: <br class="down-sm"><a href="mailto:svenjaHuebener@gmx.de">SvenjaHuebener@gmx.de</a></p>
    </div>

</div>