<div class='footer-content'>
    <h4>Impressum</h4>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Svenja Hübener</p>
    <p>Kaiserstraße 67</p>
    <p>44135 Dortmund</p>
    <a href="./datenschutzerklaerung.html">Datenschutzerklärung</a>
</div>