<div class='footer-content'>
    <h4>Impressum</h4>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Svenja Hübener</p>
    <p>Zechenstraße 345</p>
    <p>59199 Bönen</p>
    <a href="./datenschutzerklaerung.html">Datenschutzerklärung</a>
</div>