<div class="hero-content">
    <h1 class="title" id="h1-target"> Nicht weil es schwer ist, wagen wir es nicht, <span><br>sondern weil wir es nicht wagen, ist es schwer.</span> 
    </h1>
    <h2 class="sub-title">Annaeus Seneca Lucius</h2>
</div>