<div class="hero-content row">
    <div class="hero-content-txt col-sm-8">
        <h1 class="title" id="h1-target"> Nicht weil es schwer ist, wagen wir es nicht, <span><br>sondern weil wir es nicht wagen, ist es schwer.</span> 
        </h1>
        <h2 class="sub-title">Annaeus Seneca Lucius</h2>
    </div>
    <div class="hero-content-img order-sm-first col-sm-4 col-md-3">
        <img src="/assets/images/hero_1.png" alt="bild_svenja">
    </div>
</div>