<h2 class="paragraph-heading"><a href="./workshops.html">Workshops</a></h2>
<p class="paragraph-text">
    Kollegiale Fallberatung: Die Nutzung von Teamressourcen für Fallbesprechungen und zur Lösung von Belastungssituationen 
</p>
<p class="paragraph-text">
    Läuft bei uns. Umgang mit suchtmittelkonsumierenden Jugendlichen in der stationären Jugendhilfe
</p>