<h2 class="paragraph-heading"><a href="./therapie.html">Therapie & Beratung</a></h2>
<p class="paragraph-text">
    Einzeln oder gemeinsam, mit oder ohne Kind- im Rahmen von Familien- oder Elterngesprächen können Sie sich gemeinsam den Themen und Herausforderungen nähern, die sie als gesamte Familie beschäftigen. 
</p>