<h2 class="paragraph-heading"><a href="./supervision.html">Supervision & Coaching</a></h2>
<p class="paragraph-text">
    Sie suchen als Team eine Auszeit, um gemeinsam mit den Kollegen/innen berufliches Handeln zu reflektieren und Ideen für die Zukunft zu entwickeln.
</p>