<h2>Über mich</h2>
<br>
<h3>Ausbildung</h3>
<ul>
    <li>Diplom Pädagogin (Westfälische Wilhelms Universität Münster)</li>
    <li>Systemische Therapeutin (IF Weinheim- Institut für systemische Ausbildung und Entwicklung)</li>
    <li>Systemische Paartherapeutin (IF Weinheim- Institut für systemische Ausbildung und Entwicklung)</li>
    <li>MOVE Trainerin (motivierende Gesprächsführung mit suchtmittelkonsumierenden Jugendlichen)</li>
</ul>
<br><br>
<h3>Beruflicher Werdegang</h3>

<ul>
    <li>Selbstständige systemische Therapeutin</li>
    <li>Dozentin an einer privaten Hochschule für den Studiengang soziale Arbeit</li>
    <li>Moderatorin von Veranstaltungen</li>
    <li>Langjährige Tätigkeit für das Amt für Kinder, Jugendliche und Familien der Stadt Münster in unterschiedlichen Bereichen der Kinder-, Jugendlichen- und Familienhilfe</li>
    <li>zuletzt beratende, therapeutische und pädagogische Tätigkeit in der Drogenhilfe der Stadt Münster</li>
</ul>
