<h3>Willkommen</h3>
<p>
Mit meiner Tätigkeit möchte ich Menschen ansprechen, die sich Veränderungen in ihrem Leben wünschen, zum Beispiel in Partnerschaft, Familie oder Beruf. Ich möchte Ihnen anbieten bei Gefühlen von Belastung, Unsicherheit, Unzufriedenheit oder Hilflosigkeit neue Handlungsmöglichkeiten zu entwickeln und Sie bei Ihrer persönlichen Entwicklung unterstützen. 
<br>
<br>
Ich arbeite mit unterschiedlichen theoretischen und methodischen Ansätzen, denen eine ressourcen- und lösungsorientierte Ausrichtung zugrunde liegt. Meine Arbeit basiert auf den fachlichen Standards des systemischen Ansatzes. In diesem Verständnis sind meine Kunden Experten im Finden ihrer konkreten und lebensnahen Lösung, ich bin vorrangig zuständig für eine hilfreiche Prozessgestaltung und Entwicklungsrahmung. 
</p>

