<h3>Workshops</h3>
<p>
Kollegiale Fallberatung: Die Nutzung von Teamressourcen für Fallbesprechungen und zur Lösung von Belastungssituationen 
<br><br>
Läuft bei uns. Umgang mit suchtmittelkonsumierenden Jugendlichen in der stationären Jugendhilfe
</p>

