<h3>Für Familien </h3>
<p>
Das familiäre Zusammenleben hält viele schöne und glückliche Momente bereit. In verschiedenen Lebens- und Entwicklungsphasen der Kinder, Jugendlichen und Eltern kann es auch zu Schwierigkeiten und Störungen innerhalb der Familie kommen. Damit können viele Fragen und Sorgen verbunden sein. 
Mögliche Anlässe und Themen: 
Unterstützung bei der Klärung und Lösung von Konflikten in der Familie
Herausforderungen meistern (z.B. Alleinerziehende/r oder das Zusammenleben als Patchworkfamilie)
Beratung und Unterstützung im Umgang mit besonderen Lebensabschnitten (z.B. Einschulung, Schulwechsel, Pubertät etc.)
Förderung der familiären Beziehungen und Kommunikation 
Begleitung bei krisenhaft erlebten Umbrüchen und Veränderungen in der Familie (z.B. Trauerfall, Krankheit, Trennung).
<br><br>
Einzeln oder gemeinsam, mit oder ohne Kind- im Rahmen von Familien- oder Elterngesprächen können Sie sich gemeinsam den Themen und Herausforderungen nähern, die sie als gesamte Familie beschäftigen. 
Sie haben Fragen? Nutzen Sie die telefonische Sprechstunde!
</p>

