<h3>Für Jugendliche</h3>
<p>
Das „Erwachsenwerden“ bietet zahlreiche Herausforderungen: Ängste, Krisen und Probleme gehören dazu und sind völlig normal. Aber nicht jeder kann gleich gut damit umgehen. Wenn dann das Denken, Fühlen und Handeln über einen längeren Zeitraum Anlass zur Sorge gibt, die Ängste und Probleme nicht verschwinden wollen oder die Lebensqualität leidet und Krisen nicht überwunden werden können, kann eine Unterstützung sinnvoll sein. Ich berate dich zeitnah, um gemeinsam nach guten Lösungen zu suchen oder um einfach zu zuhören.
Mögliche Anlässe und Themen können beispielsweise sein: 
Beratung bei Fragen zur Lebensplanung und –gestaltung 
Begleitung beim „Erwachsenwerden“ und der Entwicklung von Eigen- und Selbstständigkeit
Fragen zu Liebe, Sexualität und Partnerschaft
andauernde Streitereien mit deinen Eltern
</p>

