<h3>Elternberatung bei Suchtgefährdung und Abhängigkeit bei Jugendlichen und jungen Erwachsenen </h3>
<p>
Wenn Jugendliche und junge Erwachsene den Umgang mit Drogen austesten, ergeben sich häufig herausfordernde Situationen innerhalb der Familie. Machen Sie sich Sorgen, dass ihre Tochter oder ihr Sohn eine Sucht entwickeln könnte? Bei Jugendlichen und jungen Erwachsenen ist es besonders schwierig ein (mitunter exzessives) Probierverhalten, von einem missbräuchlichen oder sogar riskant schädlichen Verhalten zu unterscheiden. Meine Erfahrung zeigt, dass es besonders wichtig ist, mit Ihrer Tochter oder Ihrem Sohn im Gespräch zu bleiben und nicht in Panik zu verfallen. Beobachten Sie die Lebenssituation Ihrer Tochter oder Ihres Sohnes: Welchen Stellenwert hat das in Ihren Augen problematische Verhalten? Welche Veränderungen gibt es im schulischen Bereich, im Freundeskreis oder bei den Freizeitaktivitäten?
Ich unterstütze Sie gerne dabei mehr Sicherheit im Umgang mit Ihrer Tochter/ Ihrem Sohn zu gewinnen und angemessen mit der Situation umgehen zu können. Reflektieren Sie in einem geschützten Rahmen ihr Elternverhalten und entdecken Sie neue Handlungsmöglichkeiten. 
Nutzen Sie die telefonische Sprechstunde, um erste Fragen zu klären. Ich freue mich auf Ihren Anruf!
</p>

