<h3>Für Paare</h3>
<p>
Sie erleben den Alltag in ihrer Paarbeziehung zunehmend konflikthaft? Sie möchten raus aus Ihrem gemeinsamen Teufelskreis aus Vorwürfen, Rückzug, Kritik und Schweigen? 
In den Paargesprächen erhalten Sie die Möglichkeit, sich Zeit und Raum füreinander zu nehmen und ihr Miteinander aus verschiedenen Perspektiven zu betrachten, um Neues zu entdecken, zu verstehen und zu fühlen.
</p>

