.form-wrapper {
    // margin: 30px 0 0 0;

    h1 {
        font-size: 24px;
    }

    .g-recaptcha {
        margin: 12px 0 2px 0;
    }

    label,
    input {
        font-family: 'Open Sans', sans-serif;
    }

    .btn-submit-form {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    form {
        margin: 20px 0;
    }
}


@include media-breakpoint-up(sm) {
    .form-wrapper {
        // margin: 40px 0;
        form {
            margin: 40px 0;
        }
    }   
}

.form-image-container {
    .hero-content-txt {
        // margin-top: 20px;
    }

    img {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        display: block;
    }

    .hero-content-contact {
        p {
            margin-bottom: 10px;
            font-size: 16px;
            span {
                margin-bottom: 0;
                font-size: 18px;
                color: $color;
            }
        }
        .hero-content-contact-p {
            margin-top: 50px;
        }
    }
}