.hero {
    // height: 150px;
    margin-bottom: 30px;

        
        .hero-content {
            width: 100%;
            // max-width: 550px;
            border-radius: 5px;
            background-color: none;
            padding: 30px 0;
            // margin-top: 20px;
        }
        
        h1 {
            font-size: 25px;
            // margin-left: 15px;
            margin-bottom: 10px;
            line-height: 1.4;

            span {
                color: #CBB147;
            }
        }

        h2 {
            font-size: 12px;
            // margin-left: 15px;

        }
}

@include media-breakpoint-up(sm) {
    .hero {
        // margin-bottom: 70px;
        font-size: 29px;
    }

    h2 {
        font-size: 19;
    }
    }