.hero {
    background-size: cover;
    height: 125px;
    margin-bottom: 169px;

    .hero-main {
        width: 100%;
        max-width: 500px;
        border-radius: 5px;
        background-color: none;
        margin-top: 145px;
        
        h1 {
            font-size: 25px;
            margin-left: 15px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 20px;
            margin-left: 15px;

        }
    }
}

.page_1 {
    .hero {
        background-image: url("/assets/images/hero_1.jpg");

    }
}

.page_2 {
    .hero {
        background-image: url("/assets/images/hero_2.jpg");
        background-position: bottom;
    }
}

.page_1, .page_2 {
    .hero {
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 19;
        }
    }
}

.page_3 {
    .hero {
        background-image: url("/assets/images/hero_3.jpg");
    }
}

.page_4 {
    .hero {
        // background-image: url("/assets/images/hero_4.jpg");
        background-color: #EFE8DC;
    }
}

@include media-breakpoint-up(sm) {
    .hero {
        height: 350px;
        margin-bottom: 70px;
        
        .hero-main {
            background-color: rgba($color: #fff, $alpha: 0.9);
            margin-top: 100px;
            z-index: 10;
            margin-left: 0;
            padding: 10px 12px 8px 12px;

            h1 {
                margin: 0 auto;
                padding: 10px;
                line-height: 1.5;
                font-size: 30px;
                // line-height: 39px;
                // font-size: 1.5rem;
            }

            h2 {
                font-size: 20px;
                padding-left: 10px;
                font-size: 20px;
                line-height: 25px;
                margin-left: 0px;

            }

        }
    }

    .page_1, .page_2 {
        .hero {
    
            h1 {
                font-size: 22px;
            }

            h2 {
                font-size: 19;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .hero {
        height: 400px;
        background-color: grey;

        .hero-main {


            h1 {

            }

            h2 {

            }


        }
    }
}