.paragraph,
.paragraph-rev {
    margin: 0;

    .paragraph-image {
        margin: 20px 0;

        img {
            display: block;
            width: 100%;
            max-width: 270px;
            margin: 0 auto;
            background-size: cover;
        }
    }

    h2 {
        position: relative;
        margin-bottom: 20px;
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

@include media-breakpoint-up(sm) {

    .paragraph,
    .paragraph-rev {
        margin: 40px 0;
    }
}

@include media-breakpoint-up(md) {
    .paragraph-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}