{{#> base page_1=true }}

{{> header about=this }}

{{/ base }}

{{> hero page_1=true }}

{{> passage page_1=true }}

{{> paragraph page_1=true pos_1=true }}

{{> paragraph page_1=true pos_2=true }}

{{> paragraph page_1=true pos_3=true }}

{{> contact }}

{{> footer }}

</body>
</html>