{{#> base page_2=true }}

{{> header about=this page2=true }}

{{/ base }}

{{> hero page_2=true }}

{{> passage page_2=true pos_1=true }}

{{> passage page_2=true pos_2=true }}

{{> passage page_2=true pos_3=true }}

{{> passage page_2=true pos_4=true }}

{{> footer }}

</body>
</html>