{{#> base page_3=true }}

{{> header about=this page3=true }}

{{/ base }}

{{> hero page_3=true }}

{{> passage page_3=true pos_1=true }}

{{> passage page_3=true pos_2=true }}

{{> passage page_3=true pos_3=true }}

{{> passage page_3=true pos_4=true }}

{{> footer }}

</body>
</html>