<h3>Datenschutzerklärung<div class="line"></div></h3>
<h4>Datenschutz</h4>
<p>
    Wir haben diese Datenschutzerklärung (Fassung 04.10.2019-311118937) verfasst, um Ihnen gemäß der Vorgaben der Datenschutz-Grundverordnung (EU) 2016/679 zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.
Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.
</p>

<h4 id="kontakt">Name und Anschrift des Verantwortlichen</h4>
<p>
    Der Verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist die:
    <br><br>
    AUFF Unna gGmbH<br>
    Gutenbergstraße 9<br>
    59199 Bönen<br>
    Deutschland<br><br>
    Tel.: <a href="tel:+4923073639900">02307-3639900</a><br>
    E-Mail: <a href="mailto:info@auff-unna.de">info@auff-unna.de</a><br>
    Website: <a href="https://auff-unna.de/">www.auff-unna.de</a><br>
</p>


<h4>Automatische Datenspeicherung</h4>
<p>
Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.
Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie
</p>
<ul>
    <li>die Adresse (URL) der aufgerufenen Webseite</li>
    <li>Browser und Browserversion</li>
    <li>das verwendete Betriebssystem</li>
    <li>die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
    <li>den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
    <li>Datum und Uhrzeit</li>
</ul>
<p>
in Dateien (Webserver-Logfiles).
</p>
<br>
<p>
In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.
Die Rechtsgrundlage besteht nach Artikel 6  Absatz 1 f DSGVO (Rechtmäßigkeit der Verarbeitung) darin, dass berechtigtes Interesse daran besteht, den fehlerfreien Betrieb dieser Webseite durch das Erfassen von Webserver-Logfiles zu ermöglichen.
</p>

<h4>Rechte laut Datenschutzgrundverordnung</h4>
<p>
Ihnen stehen laut den Bestimmungen der DSGVO grundsätzlich die folgende Rechte zu:
<ul>
    <li>Recht auf Berichtigung (Artikel 16 DSGVO)</li>
    <li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
    <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
    <li>Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</li>
    <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
    <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
    <li>Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</li>
</ul>
Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich an die Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI) wenden.
Auswertung des Besucherverhaltens
In der folgenden Datenschutzerklärung informieren wir Sie darüber, ob und wie wir Daten Ihres Besuchs dieser Website auswerten. Die Auswertung der gesammelten Daten erfolgt in der Regel anonym und wir können von Ihrem Verhalten auf dieser Website nicht auf Ihre Person schließen.
Mehr über Möglichkeiten dieser Auswertung der Besuchsdaten zu widersprechen erfahren Sie in der folgenden Datenschutzerklärung.
</p>

<h4>TLS-Verschlüsselung mit https</h4>
<p>
Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung Artikel 25 Absatz 1 DSGVO). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schloßsymbol links oben im Browser und der Verwendung des Schemas https (anstatt http) als Teil unserer Internetadresse.
</p>

<h4>Google Maps Datenschutzerklärung</h4>
<p>
Wir benützen auf unserer Website Google Maps der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA). Mit Google Maps können wir Standorte visuell besser darstellen und damit unser Service verbessern. Durch die Verwendung von Google Maps werden Daten an Google übertragen und auf den Google-Servern gespeichert. Hier wollen wir nun genauer darauf eingehen, was Google Maps ist, warum wir diesen Google-Dienst in Anspruch nehmen, welche Daten gespeichert werden und wie Sie dies unterbinden können.
</p>

<h4>Was ist Google Maps?</h4>
<p>Google Maps ist ein Online-Kartendienst der Firma Google Inc. Mit Google Maps können Sie im Internet über einen PC oder über eine App genaue Standorte von Städten, Sehenswürdigkeiten, Unterkünften oder Unternehmen suchen. Wenn Unternehmen auf Google My Business vertreten sind, werden neben dem Standort noch weitere Informationen über die Firma angezeigt. Um  die Anfahrtsmöglichkeit anzuzeigen, können Kartenausschnitte eines Standorts per HTML-Code in eine Website eingebunden werden. Google Maps zeigt die Erdoberfläche als Straßenkarte oder als Luft- bzw. Satellitenbild an. Dank der Street View Bilder und den qualitativ hochwertigen Satellitenbildern sind sehr genaue Darstellungen möglich.</p>

<h4>Warum verwenden wir Google Maps auf unserer Website?</h4>
<p>All unsere Bemühungen auf dieser Seite verfolgen das Ziel, Ihnen eine nützliche und sinnvolle Zeit auf unserer Website zu bieten. Durch die Einbindung von Google Maps können wir Ihnen die wichtigsten Informationen zu diversen Standorten liefern. Dank Google Maps sehen Sie auf einen Blick wo wir unseren Firmensitz haben. Die Wegbeschreibung zeigt Ihnen immer den besten bzw. schnellsten Weg zu uns. Sie können den Anfahrtsweg für Routen mit dem Auto, mit öffentlichen Verkehrsmitteln, zu Fuß oder mit dem Fahrrad abrufen. Für uns ist die Bereitstellung von Google Maps Teil unseres Kundenservice.</p>

<h4>Welche Daten werden von Google Maps gespeichert?</h4>
<p>
    Damit Google Maps ihren Dienst vollständig anbieten kann, muss das Unternehmen Daten von Ihnen aufnehmen und speichern. Dazu zählen unter anderem die eingegebenen Suchbegriffe, Ihre IP-Adresse und die Breiten- bzw. Längenkoordinaten. Benutzen Sie die Routenplaner-Funktion wird auch die eingegebene Startadresse gespeichert. Diese Datenspeicherung passiert allerdings auf den Webseiten von Google Maps. Wir können Sie darüber nur informieren, aber keinen Einfluss nehmen. Da wir Google Maps in unsere Website eingebunden haben, setzt Google mindestens ein Cookie (Name: NID) in Ihrem Browser. Dieses Cookie speichert Daten über Ihr Userverhalten. Google nutzt diese Daten in erster Linie, um eigene Dienste zu optimieren und individuelle, personalisierte Werbung für Sie bereitzustellen.
Folgendes Cookie wird aufgrund der Einbindung von Google Maps in Ihrem Browser gesetzt:
</p>

<ul>
    <li>Name: NID</li>
    <li>Ablaufzeit: nach 6 Monaten</li>
    <li>Verwendung: NID wird von Google verwendet, um Werbeanzeigen an Ihre Google-Suche anzupassen. Mit Hilfe des Cookies „erinnert“ sich Google an Ihre am häufigsten eingegebenen Suchanfragen oder Ihre frühere Interaktion mit Anzeigen. So bekommen Sie immer maßgeschneiderte Werbeanzeigen. Das Cookie enthält eine einzigartige ID, die Google benutzt, persönliche Einstellungen des Users für Werbezwecke zu sammeln.</li>
    <li>Beispielwert: 188=h26c1Ktha7fCQTx8rXgLyATyITJ311118937</li>
</ul>

<p><strong>Anmerkung</strong>: Wir können bei den Angaben der gespeicherten Daten keine Vollständigkeit gewährleisten. Speziell bei der Verwendung von Cookies sind Veränderungen bei Google nie auszuschließen. Um das Cookie NID zu identifizieren, wurde eine eigene Testseite angelegt, wo ausschließlich Google Maps eingebunden war.</p>


<h4>Wie lange und wo werden die Daten gespeichert?</h4>
<p>Die Google-Server stehen in Rechenzentren auf der ganzen Welt. Die meisten Server befinden sich allerdings in Amerika. Aus diesem Grund werden Ihre Daten auch vermehrt in den USA gespeichert. Hier können Sie genau nachlesen wo sich die Google-Rechenzentren befinden: <a href="https://www.google.com/about/datacenters/inside/locations/?hl=de">https://www.google.com/about/datacenters/inside/locations/?hl=de</a> 
Die Daten verteilt Google auf verschiedenen Datenträgern. Dadurch sind die Daten schneller abrufbar und werden vor etwaigen Manipulationsversuchen besser geschützt. Jedes Rechenzentrum hat auch spezielle Notfallprogramme. Wenn es zum Beispiel Probleme bei der Google-Hardware gibt oder eine Naturkatastrophe die Server beeinträchtigt, bleiben die Daten mit hoher Wahrscheinlich dennoch geschützt.
Manche Daten speichert Google für einen festgelegten Zeitraum. Bei anderen Daten bietet Google lediglich die Möglichkeit, diese manuell zu löschen. Weiters anonymisiert das Unternehmen auch Informationen (wie zum Beispiel Werbedaten) in Serverprotokollen, indem sie einen Teil der IP-Adresse und Cookie-Informationen nach 9 bzw.18 Monaten löschen.</p>
<h4>Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h4>
<p>Mit der 2019 eingeführten automatischen Löschfunktion von Standort- und Aktivitätsdaten werden Informationen zur Standortbestimmung und Web-/App-Aktivität – abhängig von Ihrer Entscheidung – entweder 3 oder 18 Monate gespeichert und dann gelöscht. Zudem kann man diese Daten über das Google-Konto auch jederzeit manuell aus dem Verlauf löschen. Wenn Sie Ihre Standorterfassung vollständig verhindern wollen, müssen Sie im Google-Konto die Rubrik „Web- und App-Aktivität“ pausieren. Klicken Sie „Daten und Personalisierung“ und dann auf die Option „Aktivitätseinstellung“. Hier können Sie die Aktivitäten ein- bzw. ausschalten.
In Ihrem Browser können Sie weiters auch einzelne Cookies deaktivieren, löschen oder verwalten. Je nach dem welchen Browser Sie verwenden, funktioniert dies auf unterschiedliche Art und Weise. Die folgenden Anleitungen zeigen, wie Sie Cookies in Ihrem Browser verwalten:</p>
<a href="https://support.google.com/chrome/answer/95647?tid=311118937">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a><br>
<a href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=311118937">Safari: Verwalten von Cookies und Websitedaten mit Safari</a><br>
<a href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=311118937">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a><br>
<a href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=311118937">Internet Explorer: Löschen und Verwalten von Cookies</a><br>
<a href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=311118937">Microsoft Edge: Löschen und Verwalten von Cookies</a><br><br>

<p>Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie es erlauben oder nicht.
Google ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework, wodurch der korrekte und sichere Datentransfer persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf 
<a href="https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG">https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG</a>
Wenn Sie mehr über die Datenverarbeitung von Google erfahren wollen, empfehlen wir Ihnen die hauseigene Datenschutzerklärung des Unternehmens unter
<a href="https://policies.google.com/privacy?hl=de">https://policies.google.com/privacy?hl=de</a>
</p>

<h4>Eingebettete Social Media Elemente Datenschutzerklärung</h4>
<p>Wir binden auf unserer Webseite Elemente von Social Media Diensten ein um Bilder, Videos und Texte anzuzeigen.
Durch den Besuch von Seiten die diese Elemente darstellen, werden Daten von Ihrem Browser zum jeweiligen Social Media Dienst übertragen und dort gespeichert. Wir haben keinen Zugriff auf diese Daten.
Die folgenden Links führen Sie zu den Seiten der jeweiligen Social Media Dienste wo erklärt wird, wie diese mit Ihren Daten umgehen:</p>
<ul class="no_flex">
    <li><a href="https://help.instagram.com/519522125107875">Instagram-Datenschutzrichtlinie</a></li>
    <li><a href="https://policies.google.com/privacy?hl=de">Für YouTube gilt die Google Datenschutzerklärung</a></li>
    <li><a href="https://www.facebook.com/about/privacy">Facebook-Datenrichtline</a></li>
    <li><a href="https://twitter.com/de/privacy">Twitter Datenschutzrichtlinie</a></li>
</ul>

<h4>Facebook Datenschutzerklärung</h4>
<p>Wir verwenden auf dieser Webseite Funktionen von Facebook, einem Social Media Network der Firma Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2 Ireland.
Welche Funktionen (Soziale Plug-ins) Facebook bereitstellt, können Sie auf <a href="https://developers.facebook.com/docs/plugins/">https://developers.facebook.com/docs/plugins/</a>  nachlesen.
Durch den Besuch unserer Webseite können Informationen an Facebook übermittelt werden. Wenn Sie über ein Facebook-Konto verfügen, kann Facebook diese Daten Ihrem persönlichen Konto zuordnen. Sollten Sie das nicht wünschen, melden Sie sich bitte von Facebook ab.
Die Datenschutzrichtlinien, welche Informationen Facebook sammelt und wie sie diese verwenden finden Sie auf <a href="https://www.facebook.com/policy.php">https://www.facebook.com/policy.php</a>.</p>

<h4>Instagram Datenschutzerklärung</h4>
<p>Wir verwenden auf unserer Webseite Funktionen des Social Media Netzwerks Instagram der Firma Instagram LLC, 1601 Willow Rd, Menlo Park CA 94025, USA.
Mit den Funktionen zum Einbetten von Instagram-Inhalten (Embed-Funktion) können wir Bilder und Videos anzeigen.
Durch den Aufruf von Seiten die solche Funktionen nutzen werden Daten (IP-Adresse, Browserdaten, Datum, Uhrzeit, Cookies) an Instagram übermittelt, gespeichert und ausgewertet.
Sollten Sie ein Instagram-Konto haben und angemeldet sein, werden diese Daten Ihrem persönlichen Konto und den darin gespeicherten Daten zugeordnet.
Die Datenschutzrichtlinien, welche Informationen Instagram sammelt und wie sie diese verwenden finden Sie auf <a href="https://help.instagram.com/519522125107875">help.instagram.com/519522125107875</a>.</p>

<p>Quelle: Erstellt mit dem Datenschutz Generator von AdSimple <a href="https://www.adsimple.de/datenschutz-generator/">https://www.adsimple.de</a> in Kooperation mit <a href="https://www.fashiongott.de/">https://www.fashiongott.de/</a></p>