<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col1 col-sm-6"></div>
            <div class="col3 col-sm-6">{{> ../content/page_1/footer_col3_content }}</div>
        </div>
    </div>
</div>