<div class="form-image-container container">
    <div class="row">

        <div class="form-wrapper col-md-7 offset-md-1 order-md-last">
            <div class="hero-content-txt">
                <h1 class="title" id="h1-target"><span>Schön, dass Sie hier sind!</span></h1>
                <h5 class="sub-title">Jetzt Kontakt aufnehmen</h5>
            </div>

            
            <form id="form-contact"
                action="https://23fqin3s0d.execute-api.eu-central-1.amazonaws.com/dev/static-site-mailer" method="POST">
                <p>Kontaktformular:</p>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" name="reply_to" aria-describedby="emailHelp"
                        placeholder="Ihre E-mail" required>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" name="name" aria-describedby="namelHelp"
                        placeholder="Ihr Name" required>
                </div>

                <div class="form-group">
                    <label for="message">Nachricht</label>
                    <textarea class="form-control" name="message" id="message" placeholder="Ihre Nachricht an mich"
                        required></textarea>
                    <div class="g-recaptcha" data-sitekey="6LfJzvwUAAAAAIM5zsiwNWoWQbnWgpp5_P4ocMOU"
                        data-callback="ccb"></div>
                    <button type="submit" disabled class="btn btn-primary mt-2 btn-submit-form" d>Senden</button>
                </div>
            </form>
        </div>

        <div class="hero-content-img col-md-4">
            <img src="/assets/images/hero_4.png" alt="bild_svenja">
        </div>
    </div>
</div>