<div class="hero">
    <div class="container">
        <div class="row">
            <div class="hero-main">
            {{#if page_1 }}
            {{> ../content/page_1/hero_content }}                    
            {{/if}}
            {{#if page_2 }}
            {{> ../content/page_2/hero_content }}                    
            {{/if}}
            {{#if page_3 }}
            {{> ../content/page_3/hero_content }}                    
            {{/if}}
            {{#if page_4 }}
            {{> ../content/page_4/hero_content }}                    
            {{/if}}
            </div>
        </div>
    </div>
</div>