<div class="paragraph">
    <div class="container">
        <div class="row">
            <div class="paragraph-image col-md-4">
                {{#if pos_1 }}
                <a href="./supervision.html">
                    <img src="./assets/images/hero_2.jpg" alt="">
                </a>
                {{/if}}
                {{#if pos_2 }}
                <a href="./therapie.html">
                    <img src="./assets/images/hero_3.jpg" alt="">   
                </a>
                {{/if}}
                {{#if pos_3 }}
                <a href="/workshops.html">
                    <img src="./assets/images/hero_4.jpg" alt="">
                </a>
                {{/if}}
            </div>
            <div class="paragraph-text-container col-md-8">
                <div class="paragraph-text">
                    {{#if pos_1 }}
                    {{> ../content/page_1/paragraph_1_content }}
                    {{/if}}
                    {{#if pos_2 }}
                    {{> ../content/page_1/paragraph_2_content }}
                    {{/if}}
                    {{#if pos_3 }}
                    {{> ../content/page_1/paragraph_3_content }}
                    {{/if}}
                    {{#if pos_4 }}
                    {{> ../content/page_1/paragraph_4_content }}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>