<div class="paragraph-rev">
    <div class="container">
        <div class="row">
            <div class="paragraph-image col-md-4 order-md-last">

                    <img src="./assets/images/hero_1.png" alt="">

            </div>

            <div class="paragraph-text-container col-md-8">
                <div class="paragraph-text">
                    {{> ../content/page_1/paragraph_rev_content }}
                </div>
            </div>
        </div>
    </div>
</div>