<div id="passage" class="target"></div>
<div class="passage">
    <div class="container">
        <div class="row">
            <div class="passage-text-container col-sm-10">
                <div class="passage-text">
                    {{#if page_1 }}
                      {{> ../content/page_1/passage_content }}                    
                    {{/if}}
                    {{#if page_2 }}
                        {{#if pos_1 }}
                            {{> ../content/page_2/passage_pos1 }}                    
                        {{/if}}
                        {{#if pos_2 }}
                            {{> ../content/page_2/passage_pos2 }}                    
                        {{/if}}                       
                    {{/if}}
                    {{#if page_3 }}
                        {{#if pos_1 }}
                            {{> ../content/page_3/passage_pos1 }}                    
                        {{/if}}
                        {{#if pos_2 }}
                            {{> ../content/page_3/passage_pos2 }}                    
                        {{/if}}
                        {{#if pos_3 }}
                            {{> ../content/page_3/passage_pos3 }}                    
                        {{/if}}  
                        {{#if pos_4 }}
                            {{> ../content/page_3/passage_pos4 }}                    
                        {{/if}} 
                    {{/if}}
                    {{#if page_4 }}
                        {{#if pos_1 }}
                            {{> ../content/page_4/passage_pos1 }}                    
                        {{/if}}                
                    {{/if}}   
                    {{#if page_5 }}
                            {{> ../content/page_5/passage_privacy }}                    
                    {{/if}}              
                </div>
            </div>
        </div>
    </div>
</div>